*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* .containerfooter{
  margin-top: 40rem;
  margin-right: 5rem;
  margin-left: 5rem;
} */

/* .content{
  margin: 2rem;
}

.advert{
  margin-left: 18rem;
}
.middle{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-left: 4rem;
}

.row{
  margin: 2rem;
  display: flex;

}

.mid{
  padding: 2rem;
} */

/* home page css */

/* banner */


.banner{
  position: relative;
}


.banner .card{
  width: 30%;
  position: absolute;
  left: 3rem;
  bottom: -2rem;
  padding: 1rem;
}
.banner a{
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
  font-weight: bold;
}

.banner .card button{
  width: 4rem;
  font-size: 0.5rem;
  font-weight: bold;

}